#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/buildcore.mk

pe_prefix = opt/puppet
pe_etc = etc/puppetlabs
ruby_ver = 1.8

binary-install/pe-puppet-dashboard::
	mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_etc)/puppet-dashboard
	mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard
	mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/var/opt/$(cdbs_curpkg)/tmp
	mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/var/log/pe-puppet-dashboard
	cp -r app \
	    bin \
	    config \
	    db \
	    ext \
	    lib \
	    Rakefile \
	    script \
	    spec \
	    vendor \
	    VERSION \
	    RELEASE_NOTES.md \
	    $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard
	cp $(CURDIR)/config/database.yml.example $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_etc)/puppet-dashboard/database.yml
	cp -r $(CURDIR)/public $(CURDIR)/debian/$(cdbs_curpkg)/var/opt/$(cdbs_curpkg)
	chmod -R a+rx $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/script
	rm -rf $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/ext/packaging
	mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_etc)/httpd/conf.d
	touch $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_etc)/httpd/conf.d/puppetdashboard.conf
	# Clean up the "extra" files
	rm $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/config/database.yml.example
	rm $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor/plugins/*/*LICENSE
	rm $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor/plugins/*/License.txt
	rm $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor/gems/*/COPYING
	rm $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor/gems/*/*LICENSE
	rm $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor/gems/*/License.txt
	rm $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor/rails/*/*LICENSE
	find $(CURDIR)/debian/$(cdbs_curpkg) -name .gitignore -exec rm {} \;
	find $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor -name LICENSE -exec rm {} \;
	find $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor -name MIT-LICENSE -exec rm {} \;
	find $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor -type f -exec chmod a-x {} \;
	find $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/app -type f -exec chmod a-x {} \;
	find $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/spec -type f -exec chmod a-x {} \;
	# Fixup shebang lines
	bash $(CURDIR)/debian/fixshebang.sh ruby$(ruby_ver) \
	    $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/script \
	    $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/bin
	bash $(CURDIR)/debian/rmshebang.sh \
	    $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/lib \
	    $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/app \
	    $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/spec \
	    $(CURDIR)/debian/$(cdbs_curpkg)/$(pe_prefix)/share/puppet-dashboard/vendor
